html,
body {
  margin: 0;
  padding: 0;
  font-family: "Calibri";
}
.section .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.section .bg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.section .bg img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
}
.section .content {
  position: relative;
  z-index: 999;
}
.section .content h2 {
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.5s ease-out;
}
.section .content h2.active {
  opacity: 1;
  transform: translateY(0px);
}
.section .content p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.page-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background: #fff;
}
.page-menu nav ul {
  display: inline-block;
  float: right;
  margin-right: 20px;
}
.page-menu nav ul li {
  display: inline-block;
  list-style: none;
}
.page-menu nav ul li a {
  text-decoration: none;
  display: block;
  padding: 7px 10px;
  font-size: 14px;
  font-family: "Calibri";
}
#fp-nav a span {
  background: #fff !important;
}
